<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'classifier/styles.css' %}">
</head>
<body>
    <h1>Upload an Image to Classify</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Classify</button>
    </form>

    {% if image_url %}
    <h2>Uploaded Image:</h2>
    <img src="{{ image_url }}" alt="Uploaded Image">

    <div class="prediction">
        Predicted Class (Tahmin edilen sınıf): <span>{{ predicted_class }}</span>
    </div>
    {% endif %}
</body>
</html>
